.login-form {
    position: absolute;
    top: 25%;
    left: 32%;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 2px lightgray ;
    width: 400px;
    height: auto;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    position: relative;
    display: flex;
    align-items: center;
}
form {
    padding: 50px;
}