<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <h3 class="nav-link">Angular Concepts</h3>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li> -->
    </ul>
    <ul class="navbar-nav">
        <li><a routerLink="login" style="color: white"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
</nav>